/* CSS sidebar inspiration came from https://github.com/BlackrockDigital/startbootstrap-simple-sidebar */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
    z-index: 0;
}
menu {
    margin: 0;
    padding: 0;
}
#header {
    background-color: black;
    color: white;
    padding: 15px 0 15px 0;
}
#header-title {
    text-align: left;
}
#header-hamburger {
    text-align: left;
}
.menu-hidden #slide-menu{
    transform: translate3d(-22em, 0, 0);
    transition: transform 0.2s;
    z-index: 1;
}
#slide-menu {
    position: absolute;
    top: 3.5em;
    padding: 1em;
    height: 100%;
    width: 20em;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s;
    background: black;
    z-index: 1;
}
#filter-text-col {
    padding: 0 0 0 0;
}
#filter-btn {
    float: right;
}
.sidebar-nav {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    color: white
}

.sidebar-nav li :hover {
    text-decoration: none;
    color: black;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
